* {
    padding: 0;
    margin: 0 auto;
    outline: none;
    text-align: center;
    color: #fff;
}
body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px #000;
}
a {
    text-decoration: none;
}
table td,
table th {
    padding: 10px;
    background: rgba(0, 0, 0, .7);
    border-radius: 5px;
}
section header {
    text-align: left;
}
section header > a {
    display: inline-block;
    width: 20%;
    padding: 10px 5px;
    background: rgba(255, 255, 255, .5);
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
    margin-right: 0;
}
section header a.link {
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 32px;
    height: 32px;
}
section:not(#index) header > a {
    display: none;
    width: 24.5%;
}
section header a.link-menu {
    right: 10px;
    background: url("../img/icons/menu.png") center no-repeat;
}
section header > a:not(#start),
table {
    display: none;
}
main #date {
    margin: 10px 5px;
    font-size: 1.5em;
}
main #time {
    margin: 10px 5px;
    font-size: 4.3em;
}
main section:not(#index) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}
main #menu #info {
    text-align: center;
    margin: 30% auto 0 auto;
}
main #theme > a {
    display: block;
    width: 100%;
    padding: 10px 50px;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: left;
}
main #theme > a:first-of-type {
    margin-top: 100px;
}
main #theme .theme {
    display: inline;
    width: 28%;
    margin: 2%;
    float: left;
    border: 1px solid #fff;
}
main #records .time {
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8));
}
main #records .time a {
    display: block;
    width: 70%;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    padding: 0 5%;
    text-align: left;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main #records .time .trash {
    width: 19%;
    height: 48px;
    background: url("../img/icons/trash.png") no-repeat center;
    float: right;
}
main #records .data {
    width: 100%;
    display: none;
    float: left;
}
.bg-black {
    background: rgba(0, 0, 0, .5);
}